    <%- include('partials/head.ejs') -%>
<body>
    <header>
    </header>
    <main>
        <%- include('partials/barcode.ejs') -%>
        
        <section id="content-index">
            <div>
                <%- include('partials/button.ejs') -%>
                <%- include('partials/form.ejs') -%>
            </div>            
        </section>
        <%- include('partials/app.ejs') -%>
    </main>
</body>
</html>